<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}it.log}"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <appender name="FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="FILE" />
    </appender>

    <logger name="org.springframework" level="INFO"/>

    <logger name="io.cockroachdb.jdbc" level="INFO"/>
    <logger name="io.cockroachdb.jdbc.SQL_TRACE" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE_ASYNC" />
    </root>
</configuration>
